<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.homebridge.daemon.plist</string>
	<key>Program</key>
	  <string>forever start homebridge</string>
	<key>UserName</key>
	  <string>root</string>
	<key>RunAtLoad</key>
	  <true/>
	<key>StandardErrorPath</key>
      <string>/Users/__CURRENTUSER__/Library/Logs/homebridge.log</string>
    <key>StandardOutPath</key>
      <string>/Users/__CURRENTUSER__/Library/Logs/homebridge.log</string>
</dict>
</plist>
