<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.homebridge.daemon</string>
	<key>ProgramArguments</key>
	<array>
    <string>/usr/local/bin/node</string>
		<!--<string>/usr/local/bin/forever</string>
		<string>start</string>
		-->
		<string>/usr/local/bin/homebridge</string><!-- ~/ doesn't work -->

	</array>

	<key>OnDemand</key>
		<true/>
	<key>UserName</key>
			<string>root</string>
	<key>RunAtLoad</key>
	    <true/>
	<key>KeepAlive</key>
  <true/>
</dict>
</plist>
